@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: "Space Grotesk", sans-serif;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: slategray !important;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background-color: white;
  border-radius: 100% !important;
  height: 5px;
}
